/**RESET**/

* {
    margin: 0;
    padding: 0;
}


/**FONTS**/

@font-face {
    font-family: "BrandonGrotesque-Black";
    src: url('../fonts/BrandonGrotesque-Black.eot');
    src: local('☺'), url('../fonts/BrandonGrotesque-Black.woff') format('woff'), url('../fonts/BrandonGrotesque-Black.TTF') format('truetype'), url('../fonts/BrandonGrotesque-Black.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat-Bold";
    src: url('../fonts/Montserrat-Bold.eot');
    src: local('☺'), url('../fonts/Montserrat-Bold.woff') format('woff'), url('../fonts/Montserrat-Bold.TTF') format('truetype'), url('../fonts/Montserrat-Bold.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "NotoSans-Italic";
    src: url('../fonts/NotoSans-Italic.eot');
    src: local('☺'), url('../fonts/NotoSans-Italic.woff') format('woff'), url('../fonts/NotoSans-Italic.TTF') format('truetype'), url('../fonts/NotoSans-Italic.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "NotoSans-Regular";
    src: url('../fonts/NotoSans-Regular.eot');
    src: local('☺'), url('../fonts/NotoSans-Regular.woff') format('woff'), url('../fonts/NotoSans-Regular.TTF') format('truetype'), url('../fonts/NotoSans-Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
/**BASIC**/
body {
    width: 100%;
}

.center-bloc {
    width: 1170px;
    margin: 0 auto;
    position: relative;
    height: 1040px;
}

header {
    height: 1040px;
    background: url(../img/Header_Background.jpg) center no-repeat;
    padding-top: 40px;
}
/** LOGO + BURGER **/
#logo {
    height: 90px;
    width: 90px;
    float: left;
}

#burger {
    width: 46px;
    height: 46px;
    border: 2px solid black;
    position: absolute;
    right: 0;
}

.line {
    width: 26px;
    height: 4px;
    background-color: black;
    margin-bottom: 4px;
    margin: 4px auto 0;
}

#burger>.line:first-child {
    margin-top: 13px;
}
/** NAV **/
header nav{
    
}
header nav>ul{
    list-style: none;
}
header nav>ul>li{
    
}
/** HEADER CONTENT **/
header h1 {
    font-family: BrandonGrotesque-Black;
    font-size: 90px;
    width: 660px;
    margin: 0 auto;
}

header h2 {
    font-family: NotoSans-Italic;
    font-size: 34px;
    text-align: center;
}